In [98]:
# 处理缺失值

In [99]:
import pandas as pd
data = pd.read_csv(r'/Users/liz/Code/jupyter-notebook/sklearn/2- Feature Engineering/Narrativedata.csv',index_col=0)
data.head()

    Age     Sex Embarked Survived
0  22.0    male        S       No
1  38.0  female        C      Yes
2  26.0  female        S      Yes
3  35.0  female        S      Yes
4  35.0    male        S       No

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         714 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [101]:
from sklearn.impute import SimpleImputer

In [102]:
Age = data.loc[:,'Age'].values.reshape(-1,1)
imp_mean = SimpleImputer() # 实例化,默认均值填补
imp_median = SimpleImputer(strategy='median') # 采取中位数填补
imp_0 = SimpleImputer(strategy='constant',fill_value=0) # 给定常数，以0填补
imp_most = SimpleImputer(strategy='most_frequent')#采用众数进行填补，可用于字符串

In [103]:
imp_mean = imp_mean.fit(Age)
imp_mean = imp_mean.transform(Age)
imp_median = imp_median.fit_transform(Age)
imp_most = imp_most.fit_transform(Age)

In [104]:
imp_mean[:5]
imp_median[:5]
imp_most[:5]

array([[22.],
       [38.],
       [26.],
       [35.],
       [35.]])

In [105]:
Age = imp_most
data.loc[:,'Age'] = Age

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         891 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [107]:
# 采用众数填补Embarked
Embarked = data.loc[:,'Embarked'].values.reshape(-1,1)
imp_most = SimpleImputer(strategy='most_frequent')
imp_most = imp_most.fit_transform(Embarked)
Embarked = imp_most
data.loc[:,'Embarked'] = Embarked
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         891 non-null float64
Sex         891 non-null object
Embarked    891 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [108]:
# 采用pandas和Numpy进行填补
import pandas as pd
data_ = pd.read_csv(r'/Users/liz/Code/jupyter-notebook/sklearn/2- Feature Engineering/Narrativedata.csv',index_col=0)
data_.head()

    Age     Sex Embarked Survived
0  22.0    male        S       No
1  38.0  female        C      Yes
2  26.0  female        S      Yes
3  35.0  female        S      Yes
4  35.0    male        S       No

In [109]:
data_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         714 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [130]:
# 采用平均值填补年龄的缺失值,利用.fillna 在DataFrame里面进行填补
data_.loc[:,'Age'] = data_.loc[:,'Age'].fillna(data.loc[:,'Age'].mean())
data_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         891 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [135]:
# 删除Embarked缺失的两条记录,dropna(axis=0)删除所有有缺失值的行，.dropna(axis=1) 删除所有有缺失值的列
# 小结：当采用删除操作时axis=0是对行操作，axis=1是对列操作；拼接，切片相反
data_.dropna(axis=0,inplace=True)
data_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 4 columns):
Age         889 non-null float64
Sex         889 non-null object
Embarked    889 non-null object
Survived    889 non-null object
dtypes: float64(1), object(3)
memory usage: 34.7+ KB