In [1]:
from sklearn.preprocessing import LabelEncoder # 对标签进行编
from sklearn.impute import SimpleImputer 
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'/Users/liz/Code/jupyter-notebook/sklearn/2- Feature Engineering/Narrativedata.csv',index_col=0)

In [3]:
# 处理年龄的缺失值
Age = data.loc[:,'Age'].values.reshape(-1,1)
imp_age_mean = SimpleImputer()
Age = imp_age_mean.fit_transform(Age)
data.loc[:,'Age'] = Age
data['Age']=data['Age'].astype('int')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 4 columns):
Age         891 non-null float64
Sex         891 non-null object
Embarked    889 non-null object
Survived    891 non-null object
dtypes: float64(1), object(3)
memory usage: 34.8+ KB

In [4]:
# 处理舱门的缺失——删除
data.dropna(axis=0,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 4 columns):
Age         889 non-null int64
Sex         889 non-null object
Embarked    889 non-null object
Survived    889 non-null object
dtypes: int64(1), object(3)
memory usage: 34.7+ KB

In [5]:
data_2 = data.copy()

In [8]:
from sklearn.preprocessing import Binarizer # 用于将根阈值将数据二值化，处理连续型变量的工具包
data_2

     Age     Sex Embarked Survived
0     22    male        S       No
1     38  female        C      Yes
2     26  female        S      Yes
3     35  female        S      Yes
4     35    male        S       No
..   ...     ...      ...      ...
886   27    male        S       No
887   19  female        S      Yes
888   29  female        S       No
889   26    male        C  Unknown
890   32    male        Q       No

[889 rows x 4 columns]

In [49]:
X = data_2.iloc[:,0].values.reshape(-1,1)
transformer = Binarizer(threshold=30).fit_transform(X) # threshold=30，即以30作为二值化分段的界限
transformer[:4]

array([[0],
       [1],
       [0],
       [1]])

In [51]:
data_2.iloc[:,0] = transformer
data_2.head()

   Age     Sex Embarked Survived
0    0    male        S       No
1    1  female        C      Yes
2    0  female        S      Yes
3    1  female        S      Yes
4    1    male        S       No

In [15]:
from sklearn.preprocessing import KBinsDiscretizer

In [61]:
X = data.iloc[:,0].values.reshape(-1,1)
# n_bins 为划分的数量，即需要划分多少类。
est = KBinsDiscretizer(n_bins=6,encode='ordinal',strategy='uniform')
t = est.fit_transform(X)
t[:10]

array([[1.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [4.],
       [0.],
       [2.],
       [1.]])

In [62]:
set(t.ravel()) # .ravel() 用于降维，set集合去重，查看类别的数量

{0.0, 1.0, 2.0, 3.0, 4.0, 5.0}